.card {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.card__name {
  font-size: 24px;
  line-height: 29px;
  font-weight: 900;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

@media (max-width: 640px) {
  .card__list {
    margin-top: 0;
  }
}
