.footer {
  font-family: "Inter", Arial, sans-serif;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

@media (max-width: 320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin-left: 19px;
  }
}
