.footer {
  font-family: "Inter", Arial, sans-serif;
}

.footer__copyright {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
  margin-bottom: 60px;
}

@media (max-width: 1100px) {
  .footer {
    margin: 0 20px;
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 640px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    margin: 48px 19px 36px;
  }
}
