.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modal__opened {
  display: flex;
}

.modal__closed {
  display: none;
}

.modal__container {
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
  background-color: white;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  padding: 34px 36px;
}

.modal__form {
  display: block;
}

.modal__close-button {
  border: none;
  background: transparent url(../images/close-icon.svg) center no-repeat;
  position: absolute;
  top: -39px;
  right: -37px;
  width: 40px;
  height: 40px;
  bottom: 40px;
  left: 430px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.modal__close-button:hover {
  transform: scale(1.05);
}

.modal__title {
  color: black;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 54px;
}

.modal__input {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: gray;
  width: 100%;
  margin-bottom: 29.74px;
  border: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.modal__input-margin {
  margin-bottom: 0;
}

.modal__save-button {
  width: 100%;
  height: 50.15px;
  margin-top: 48px;
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .modal__container {
    width: 90vw;
    max-width: 100%;
    padding: 25px 22px;
  }

  .modal__save-button {
    width: 238px;
    font-size: 14px;
  }

  .modal__title {
    margin-bottom: 76px;
    font-size: 18px;
  }

  .modal__close-button {
    left: 274px;
    bottom: 54px;
    width: 26px;
    height: 26px;
  }
}
